<h1>Artists</h1>

<table class='table table-striped'>
  <tr>
    <th>Name</th>
    <th>Performances</th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td>
      <%= link_to artist.name, artist %>
    </td>
    <td>
      <% if artist.performances.count > 0 then %>
        <%= artist.performances.count %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Artist', new_artist_path %>
